body {
    font-family: Arial, sans-serif;
    padding: 40px;
}

input {
    padding: 8px;
}

button {
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
}

li {
    margin-top: 10px;
    list-style-type: none;
}

li span {
    cursor: pointer;
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}